In [2]:
import numpy as np
import pandas as pd

In [3]:
realEstate = pd.read_csv("/home/soham/Coding/ML-from-scratch/dataset/realestate.csv", header=None, index_col=False)

In [4]:
realEstate = realEstate.sample(frac=1).reset_index(drop=True)

In [5]:
realEstate

            0     1           2   3         4          5     6
0    2013.250  16.2  2103.55500   3  24.96042  121.51462  25.6
1    2013.417  19.2   616.40040   3  24.97723  121.53767  39.6
2    2013.167   3.6   373.83890  10  24.98322  121.53765  61.9
3    2013.417  24.2  4605.74900   0  24.94684  121.49578  13.4
4    2013.333   1.7   329.97470   5  24.98254  121.54395  50.4
..        ...   ...         ...  ..       ...        ...   ...
409  2013.250   3.8   383.86240   5  24.98085  121.54391  55.0
410  2013.333   3.9    49.66105   8  24.95836  121.53756  56.8
411  2013.000  13.6  4197.34900   0  24.93885  121.50383  13.0
412  2013.250   3.8   383.86240   5  24.98085  121.54391  60.7
413  2012.833  20.5  2185.12800   3  24.96322  121.51237  25.6

[414 rows x 7 columns]

In [6]:
ntrain = 350
X = realEstate.loc[:ntrain,:5].values
y = realEstate.loc[:ntrain,6:].values

XTest = realEstate.loc[ntrain:,:5].values
yTest = realEstate.loc[ntrain:,6:].values

In [7]:
X.shape

(351, 6)

In [12]:
from regressionNormalEquation import normalEquationRegression
from gradientDescentRegression import gradientDescentRegression

n = normalEquationRegression(X,y)

n.train()

array([[-1.61905988e+04],
       [ 5.57470256e+00],
       [-2.60401978e-01],
       [-4.58275209e-03],
       [ 1.16228250e+00],
       [ 2.05956269e+02],
       [-1.08329305e+00]])

In [ ]:
yTestPredict = n.predict(XTest)

In [ ]:
from sklearn.metrics import mean_squared_error
from math import sqrt

rms = sqrt(mean_squared_error(yTest, yTestPredict))

In [ ]:
rms