In [1]:
import numpy as np
import pandas as pd

In [2]:
realEstate = pd.read_csv("/home/soham/Coding/ML-from-scratch/dataset/realestate.csv", header=None, index_col=False)

In [3]:
realEstate = realEstate.sample(frac=1).reset_index(drop=True)

In [4]:
realEstate

            0     1           2  3         4          5     6
0    2013.000  13.6  4197.34900  0  24.93885  121.50383  13.0
1    2013.000  33.9   157.60520  7  24.96628  121.54196  41.5
2    2013.417  13.2  1712.63200  2  24.96412  121.51670  30.8
3    2012.917   2.0  1455.79800  1  24.95120  121.54900  25.6
4    2013.250   9.1  1402.01600  0  24.98569  121.52760  42.3
..        ...   ...         ... ..       ...        ...   ...
409  2012.750  13.5  4197.34900  0  24.93885  121.50383  18.6
410  2013.500   4.1   312.89630  5  24.95591  121.53956  51.7
411  2012.917  27.1  4412.76500  1  24.95032  121.49587  17.4
412  2012.833   5.9    90.45606  9  24.97433  121.54310  52.7
413  2013.417   6.4    90.45606  9  24.97433  121.54310  59.5

[414 rows x 7 columns]

In [5]:
ntrain = 350
X = realEstate.loc[:ntrain,:5].values
y = realEstate.loc[:ntrain,6:].values

XTest = realEstate.loc[ntrain:,:5].values
yTest = realEstate.loc[ntrain:,6:].values

In [6]:
X.shape

(351, 6)

In [7]:
from regressionNormalEquation import normalEquationRegression
from gradientDescentRegression import gradientDescentRegression

n = normalEquationRegression(X,y)
gD = gradientDescentRegression(X,y,alpha=0.0001, numberIterations=100)

n.train()
gD.train()

array([[-1.22635000e+300],
       [            -inf],
       [-2.21509872e+301],
       [            -inf],
       [-4.38070915e+300],
       [-3.06177405e+301],
       [            -inf]])

In [ ]:
yTestPredict = n.predict(XTest)

In [ ]:
from sklearn.metrics import mean_squared_error
from math import sqrt

rms = sqrt(mean_squared_error(yTest, yTestPredict))

In [ ]:
rms